/**
 * Pawsie things.
 */

.site-footer {
    p {
        text-align: center;
        font-size: 1.25em;
        margin: 0 0 3px 0;
        font-family: @customHeadings;
    }

    text-align: center;

    ul {
        li {
            display: inline;
        }
    }
}

.footer-column {
    box-sizing: border-box;
    margin-top: @magicNumber;
    width: 100%;
}
