/**
 * Pawsie things.
 */

.site-footer {
    background-color: @light-green;
    p {
        background-color: @dark-green;
        color: @std-link;
        text-align: center;
        font-size: 1.25em;
        margin: 0 0 3px 0;
        font-family: @customHeadings;
    }

    color: @lighter-green;
    text-align: center;

    a:link,
    a:visited {
        text-decoration: none;
        color: @lighter-green;
    }

    a:active,
    a:hover {
        color: @std-link;
    }

    ul {
        li {
            display: inline;
        }
    }
}

.footer-column {
    box-sizing: border-box;
    border-top: 2px solid rgba(0,0,0,0.2);
    margin-top: @magicNumber;
    width: 100%;
    color: @darker-green;

    a:link,
    a:visited {
        text-decoration: none;
        color: @dark-green;
    }

    a:active,
    a:hover {
        color: @light-green;
    }
}
