/**
 * Very basic styling for the header.
 */
.site-logo-text {
    font-size: 2.375em;

    a {
        text-decoration: none;
    }

    a:link,
    a:visited {
        color: @std-link;
    }

    a:hover,
    a:active {
        color: @light-green;
    }

    font-family: @headerFont; // @customBody;
}

.navbar2 {
    display: inline-block;
    ul {
        padding-left: 5%;
        width: 100%;
        li {

            a:link {
                padding: 1.2632em 5px;
                color: @light-green;
            }
            a:visited,
            a:active,
            a:hover {
                text-decoration: none;
                color: @std-link;
            }
        }
        li:hover {
            background-color: @light-green;
        }
    }
}

.outer-wrap-header {
    background-color: @darker-green;
}

.rm-max {
    .rm-small {
        .rm-button {
            color: @std-link;
        }
    }
}
