/**
 * Media queries for the curious.
 */
@media screen and (max-width: 1100px) {
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .site-logo-text {
        font-size: 1.7em;
    }

    img.big-img {
        max-width: 50%;
    }

    p {
        padding: 0 5px;
    }
}

@media screen and (max-width: 620px) {
    .rm-desktop {
        display: none;
    }

    .footer-column {
        width: 50%;
    }

    .footer-column-wrapper > div:first-of-type {
        float: none;
        width: 100%;
    }

    .sidebar {
        background-color: @light-green;
        width: 100%;
        float: none;
        .block {
            ul {
                color: @std-link;
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: center;

                li {
                    display: inline-block;
                    padding: 5px 5px;
                }
            }
        }

        h4 {
            display: none;
        }

        a:link,
        a:visited {
            color: @lighter-green;
        }
    }
}
